@model (DAL.Models.ClubDiscussionBook CDBook, int numInList)

<tr>
    <td>
        <a class="display-8" asp-controller="" asp-action="" asp-route-id="@Model.CDBook.Book.ID">@Model.CDBook.Book.Name</a>
    </td>
    <td>
        <p class="display-8 mb-0">@Model.CDBook.Book.Author</p>
    </td>
    @if (ViewBag["DrawEdit"])
    {
        <td>
            <button class="btn btn-outline-primary display-"
                    onclick="location.href='@Url.Action("EditBook", "Discussion", new { id = Model.numInList })'">
                Edit
            </button>
        </td>
        <td>
            <button class="btn btn-outline-primary display-"
                    onclick="location.href='@Url.Action("RemoveBook", "Discussion", new { id = Model.numInList })'">
                -
            </button>
        </td>
    }
</tr>