@{
    Layout = "_ClubViewLayout";
}

@model DAL.Models.Club

@section Header{
    <div class="d-flex justify-content-center">
        <span class="@ViewBag.nameClass col-sm mb-2">@Model.Name</span>
        <button class="btn btn-outline-primary display-6 d-inline-block align-middle position-absolute"
                style="right: 1.5rem;"
                onclick="location.href='@Url.Action("Edit", "Clubs", new { id = Model.ID })'">
            Edit
        </button>
    </div>
}

@section IconBottom
{
    <button class="btn btn-outline-success display-8 mb-3"
            onclick="location.href='@Url.Action("SendInvite", "Members", new { id = Model.ID })'">
        Send invite
    </button>
    <button class="btn btn-outline-success display-8"
            onclick="location.href='@Url.Action("Index", "Members", new { id = Model.ID })'">
        Members
    </button>
}

@section DisussionsAdditional {
    <button class="btn btn-success display-8"
            onclick="location.href='@Url.Action("Add", "Discussion", new { id = Model.ID })'">
        Add discussion
    </button>
    <br />
}

@section BooksAdditional {
    <button class="btn btn-success display-8"
            onclick="location.href='@Url.Action("AddBooks", "Clubs", new { id = Model.ID })'">
        Add book
    </button>
    <br />
}