@{
    Layout = "_Layout";
    var markReadText = "Mark as read";
    if (ViewBag.IsBookRead)
        markReadText = "Edit review";
}

@model DAL.Models.Book

<h1 class="text-center display-5">@Model.Name</h1>
<hr class="bg-dark border-top mt-3 mb-4" style="width:75%; border-color:lightgrey">
<div class="display-8">
    <div class="d-inline-flex rating-box float-right">
        <strong><label asp-for="AverageRating"></label><span>:&nbsp;</span></strong>
        @if (Model.RatingCount == 0)
        {
            <span>No ratings yet( Be the first to rate!</span>
        }
        else
        {
            <strong><span>@Model.AverageRating.ToString("0.00")/10</span></strong>
            <span>&nbsp;(@Model.RatingCount rating(s))</span>
        }
    </div>
    <br>
    <br>

    <strong><label asp-for="Author"></label></strong>
    <h1 class="display-8">@Model.Author</h1>
    <br>
    <strong><label asp-for="Description"></label></strong>
    <h1 class="display-8">@Model.Description</h1>
    <br>
    <div class="text-center">
        <a asp-action="MarkRead" asp-controller="Book" asp-route-id="@Model.ID"
           class="btn btn-outline-primary display-8 text-center">
            @markReadText
        </a>
    </div>
</div>